{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
    <h1>Operation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Subject</th>
                <th>Type</th>
                <th>CreateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.id }}</td>
                <td>{{ operation.amount }}</td>
                <td>{{ operation.subject }}</td>
                <td>{{ operation.type }}</td>
                <td>{{ operation.createAt ? operation.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_operation_show', {'id': operation.id}) }}">show</a>
                    <a href="{{ path('app_operation_edit', {'id': operation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_operation_new') }}">Create new</a>
{% endblock %}
